<!-- <h1 *ngIf="this.myTest">{{ this.myTest["data"][3]["score"] }}</h1> -->
<!-- <h1>{{this.myTest['data'][0]['texts'][0]['tweet']}}</h1> -->
<ul class="queryList">
    <li *ngFor="let query of this.myTest['data']"
        [class.selected]="query === selected_api_response"
        (click)="onSelect(query)">
        <span>{{query['topic']}}</span>
    </li>
</ul>

<div *ngIf="selected_api_response" class="content">
    <h1>Hashtag: {{selected_api_response['topic']}}</h1>
    <div fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let query of selected_api_response['texts']">
            <mat-card class="data-card">
                <mat-card-content>
                    <p>Tweet: {{query['tweet']}}</p>
                    <h3>Sentiment Score: {{query['score']}}</h3>
                    <h3>Interpretation: {{query['interpretation']}}</h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<!-- <div *ngFor="let query of this.myTest['data'][0]['texts']">
    <br>
    {{query['tweet']}}
    <div *ngFor="let tweet of query['text']">
        <h1>{{query["tweet"]}}</h1>
        <h1>{{query["score"]}}</h1>
        <h1>{{query["interpretation"]}}</h1>
    </div>
</div> -->
