body {
    position: relative;
}

.iconContainer {
    position: absolute;
    top: 27.5em;
    left: 30%;
    max-width: 2%;
}

.material-icons-outlined {
    transform: scale(20);
}

.aboutContainer {
    position: absolute;
    top: 12.5em;
    left: 50%;
    margin-right: 20em;
}

.aboutHeader {
    margin-bottom: 5%;
    font-family: "GOTHAM-BOLD";
    /* font-weight: bold; */
    font-size: 500%;
}

.contactHeader {
    font-family: "GOTHAM-MEDIUM";
    /* font-weight: bold; */
    font-size: 150%;
}

p {
    font-family: "GOTHAM-BOOK";
    font-size: 125%;
}
/* .title {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 65%;
    top: 218px;

    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;    
}

.description {
    position: absolute;
    width: 642px;
    height: 216px;
    left: 65%;
    top: 314px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

#aboutPhoto {
    position: absolute;
    left: 4.17%;
    right: 4.17%;
    top: 16.67%;
    bottom: 16.67%;
} */